In [5]:
num1=float(input("Enter the first number"))
num2=float(input("Enter the secend number"))
operator=(input("Enter operator (sum,difference,multiply,quotient)"))
if(operator == "sum"):
    print(num1 + num2)
elif(operator == "difference"):
    print(num1 - num2)
elif(operator == "multipy"):
    print(num1 * num2)
elif(operator == "quotient"):
    print(num1 / num2)
else:
    print("Invalid choice")

Enter the first number 787
Enter the secend number 989
Enter operator (sum,difference,multiply,quotient) quotient

0.7957532861476239

In [17]:
import math
radius=float(input("Enter the radius of cricle"))
area=math.pi * radius**2
print(f"Area of the circle with radius {radius} is {area}")

Enter the radius of cricle 8

Area of the circle with radius 8.0 is 201.06192982974676

In [6]:

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
name=input("Enter your name")
number=int(input("Enter the number of times u want to display your name!"))
for i in range(number):
    print(name)

Enter your name Purnima Dalai
Enter the number of times u want to display your name! 4

Purnima Dalai
Purnima Dalai
Purnima Dalai
Purnima Dalai

In [3]:
num=int(input("Enter the number for sum"))
total=0
for i in range(1,num + 1):
    total+=i
print(f"the sum of {num} natural numbers are {total}")

Enter the number for sum 52

the sum of 52 natural numbers are 1378

In [7]:
num= int(input("Enter the table number"))
for i in range(1,11):
    print(f"{num} * {i}={num * i}")

Enter the table number 54

54 * 1=54
54 * 2=108
54 * 3=162
54 * 4=216
54 * 5=270
54 * 6=324
54 * 7=378
54 * 8=432
54 * 9=486
54 * 10=540

In [32]:
num=int(input("Enter the factorial number"))
factorial=1
for i in range(1,num + 1):
    factorial*=i
print(f"factorial of {num} is: {factorial}")

Enter the factorial number 5

factorial of 5 is: 120

In [11]:
name=input("Enter your name")
number=int(input("Enter the number of times u want to display your name!"))
for i in range(1,number):
    print(name)

Enter your name a
Enter the number of times u want to display your name! 3

a
a

In [5]:
import pandas as pd
ser1=pd.Series([1.5,2.5,3,4.5,5.0,6])
print(ser1)

0    1.5
1    2.5
2    3.0
3    4.5
4    5.0
5    6.0
dtype: float64

In [13]:
import pandas as pd
ser2=pd.Series(["India","Canada","Germany"],name="country")
print(ser2)

0      India
1     Canada
2    Germany
Name: country, dtype: object

In [27]:
import pandas as pd
ser3=pd.Series({"India": "New Delhi",
                "Japan": "Tokyo",
                "UK": "London"})
print(ser3)

India    New Delhi
Japan        Tokyo
UK          London
dtype: object

In [33]:
import pandas as pd 
import numpy as np
ser5=pd.Series(np.linspace(1,10,5))
print(ser5)

0     1.00
1     3.25
2     5.50
3     7.75
4    10.00
dtype: float64

In [41]:
import pandas as pd
import numpy as np

ser6=pd.Series({"India": "New Delhi","Japan": "Tokyo","UK": "London"})
print(ser6.values)
print(ser6.index)

['New Delhi' 'Tokyo' 'London']
Index(['India', 'Japan', 'UK'], dtype='object')